@font-face {
    font-family: 'c_cemstraregular';
    src: url('/cemstra-51xvv-webfont.woff2') format('woff2'),
         url('/Cemstra-51xvv.otf') format('opentype'),
         url('/cCemstra.ttf') format('truetype'),
         url('/cemstra-51xvv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: "c_cemstraregular";
    font-size: xx-large;
    position: relative;
    left: 0px;
    top: 0px;
}

.background {
    background-color: rgb(163,130,128);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgb(163,130,128);
    gap: 1cm;
}

.flex-container > div {
    background-color: rgb(187,204,222);
    text-align: center;
    margin: 10px;
    padding: 20px;
    line-height: 75px;
    font-size: 30px;
    width: 400px;
}

#hands {
    transform: rotate(270deg)
}

#back {
    position: fixed;
    bottom: 0;
    left: 20px;
    font-family: "c_cemstraregular";
    font-size: 20px;
    text-decoration: none;
}

#back:hover {
    font-style: italic;
}

#back:visited {
    color: black;
}

#contact {
    position: fixed;
    bottom: 0;
    right: 50px;
    font-family: "c_cemstraregular";
    font-size: 20px;
    text-decoration: none;
    color: rgb(140, 26, 26);
}

#contact:hover {
    font-style: italic;
}

#contact:visited {
    color: rgb(140,26,26);
}