@font-face {
    font-family: 'c_cemstraregular';
    src: url('../cemstra-51xvv-webfont.woff2') format('woff2'),
         url('../Cemstra-51xvv.otf') format('opentype'),
         url('../cCemstra.ttf') format('truetype'),
         url('../cemstra-51xvv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {
    background-color: rgb(163,130,128);
}

.eye1
    {
        position: absolute;
        width: 199px;
        top: 30px;
        left: 200px;
    }

.eye2
    {
        position: absolute;
        width: 199px;
        left: 800px;
        top: 100px;
    }

.nose
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 150px;
        left: 600px;        
    }

.lips
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 470px;
        left: 300px;
    }

    .intartlink {
        display: none;
    }
    
    .lips:hover + .intartlink {
        display: inline;
        position: absolute;
        top: 600px;
        left: 500px;
        font-family: "c_cemstraregular", Verdana, Tahoma;
        text-decoration: none;
        color: black;
    }