.background {
    background-color: rgb(163,130,128);
}

#eye1
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 30px;
        left: 200px;
    }

#eye2
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 300px;
        left: 200px;
    }

#nose
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 150px;
        left: 600px;        
    }

#lips
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 470px;
        left: 300px;
    }