@font-face {
    font-family: 'c_cemstraregular';
    src: url('/cemstra-51xvv-webfont.woff2') format('woff2'),
         url('/Cemstra-51xvv.otf') format('opentype'),
         url('/cCemstra.ttf') format('truetype'),
         url('/cemstra-51xvv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.background {
    background-color: rgb(163,130,128);
}

.eye1
    {
        position: absolute;
        width: 119.4px;
        height: 67.5px;
        top: 30px;
        left: 200px;
    }

.potslink {
    display: none;
}

.eye1:hover + .potslink {
    display: inline;
    position: absolute;
    top: 80px;
    left: 260px;
    font-family: "c_cemstraregular", Verdana, Tahoma;
    text-decoration: none;
    color: black;

}

.eye2
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 200px;
        left: 800px;
    }

    .drawingslink {
        display: none;
    }
    
    .eye2:hover + .drawingslink {
        display: inline;
        position: absolute;
        top: 250px;
        left: 840px;
        font-family: "c_cemstraregular", Verdana, Tahoma;
        text-decoration: none;
        color: black;
    }

.nose
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 150px;
        left: 600px;        
    }

.lips
    {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 470px;
        left: 300px;
    }

    .intartlink {
        display: none;
    }
    
    .lips:hover + .intartlink {
        display: inline;
        position: absolute;
        top: 600px;
        left: 500px;
        font-family: "c_cemstraregular", Verdana, Tahoma;
        text-decoration: none;
        color: black;
    }