@font-face {
    font-family: 'c_cemstraregular';
    src: url('/cemstra-51xvv-webfont.woff2') format('woff2'),
         url('/Cemstra-51xvv.otf') format('opentype'),
         url('/cCemstra.ttf') format('truetype'),
         url('/cemstra-51xvv-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: "c_cemstraregular", Verdana, Tahoma;
    font-size: xx-large;
    position: absolute;
}

.background {
    background-color: rgb(163,130,128);
}

#background1 {
    position: absolute;
    top: 100px;
    left: 1500px;
    z-index: 1;
    padding-right: 50px;
}

#pot1 {
    position: absolute;
    top: 100px;
    left: 1500px;
    z-index: 2;
}

.pot:hover {
    transform: translate(-10px)
}

#background2 {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1;
}

#pot2 {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 2;
}

#background3 {
    position: absolute;
    top: 50px;
    left: 1000px;
    z-index: 1;
}

#pot3 {
    position: absolute;
    top: 50px;
    left: 1000px;
    z-index: 2;
}

#back {
    position: fixed;
    bottom: 0px;
    left: 20px;
    font-family: "c_cemstraregular";
    font-size: 20px;
    text-decoration: none;
}

#back:hover {
    font-style: italic;
}

#back:visited {
    color: black;
}

#background4 {
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 1;
}

#pot4 {
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 2;
}

#contact {
    position: fixed;
    bottom: 0;
    right: 50px;
    font-family: "c_cemstraregular";
    font-size: 20px;
    text-decoration: none;
    color: rgb(140, 26, 26);
}

#contact:hover {
    font-style: italic;
}

#contact:visited {
    color: rgb(140,26,26);
}

#tracing1 {
    position: absolute;
    left: -20px;
    top: 10px;
}

#tracing2 {
    position: absolute;
    left: 650px;
    top: 20px;
}

#tracing3 {
    position: absolute;
    left: 350px;
    top: 30px;
}

#tracing4 {
    position: absolute;
    left: 1200px;
    top: 0px;
    rotate: 90deg
}

#tracing5 {
    position: absolute;
    left: 0px;
    top: 50px;
}

#tracing6 {
    position: absolute;
    left: 0px;
    top: 500px;
    rotate: 180deg;
}

#tracing7 {
    position: absolute;
    left: 1400px;
    top: 80px;
}